<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mybooks">
      <ion-icon name="book"></ion-icon>
      <ion-label>Meus Livros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritebooks">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Lista de Desejos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reading">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Lendo</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>