<ion-label>
  <ion-thumbnail size="large" float-center>
    <ion-img [src]="getImg(livro.volumeInfo.imageLinks)"></ion-img>
  </ion-thumbnail>
  <h3>{{ livro.volumeInfo.title }}</h3>
  <p>{{ getAuthor(livro.volumeInfo.authors) }}</p>
</ion-label>




<ion-item *ngFor='let livro of this.info'>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <ion-card>
          <ion-spinner color="primary" *ngIf="!imgLoaded"></ion-spinner>
          <div></div>
          <ion-img [src]="getImg(livro.volumeInfo.imageLinks)" (ionImgDidLoad)="imgLoaded = true">
          </ion-img>
          <ion-card-header>
            <ion-card-title style="font-size: medium;">{{ livro.volumeInfo.title }}</ion-card-title>
            <ion-card-subtitle>{{ getAuthor(livro.volumeInfo.authors) }}</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>


<ion-item *ngFor='let livro of this.info'>
  <app-book-item [livro]="livro">
  </app-book-item>
</ion-item>
<ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-button [disabled]="(this.pageIndex < 1)" size="small" slot="icon-only" class="ion-float-left"
            (click)='switchPage(forward = false)'>
            <ion-icon name="arrow-dropleft-circle"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <br>
        <div class="ion-text-center">{{ getPage() }}</div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button [disabled]="((this.pageIndex + 1) == this.totalPages)" size="small" slot="icon-only"
            (click)='switchPage()' class="ion-float-right">
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list-header>
</ion-list>